In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("scores.csv")
# df

In [7]:
df[df["score"] >= 80]

    id  score
1    2     99
7    8     94
15  16     98
17  18     94
19  20     97
20  21     82
29  30     82
46  47     89