In [103]:

import pandas as pd
import numpy as np
import warnings # DO NOT modify this line
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.exceptions import ConvergenceWarning # DO NOT modify this line
warnings.filterwarnings("ignore", category=ConvergenceWarning) # DO NOT modify this line


class BankLogistic:
    def __init__(self, data_path): # DO NOT modify this line
        self.data_path = data_path
        self.df = pd.read_csv(data_path, sep=',')
        self.X_train = None
        self.y_train = None
        self.X_test = None
        self.y_test = None

    def Q1(self): # DO NOT modify this line
        """
        Problem 1:
            Load ‘bank-st.csv’ data from the “Attachment”
            How many rows of data are there in total?

        """
        # TODO: Paste your code here
        return self.df.shape[0]
    

    def Q2(self): # DO NOT modify this line
        """
        Problem 2:
            return the tuple of numeric variables and categorical variables are presented in the dataset.
        """
        # TODO: Paste your code here
        num_cols = self.df.select_dtypes(include=['number'])
        obj_cols = self.df.select_dtypes(include=['object'])

        return (num_cols.shape[1], obj_cols.shape[1])
    
    
    def Q3(self): # DO NOT modify this line
        """
        Problem 3:
            return the tuple of the Class 0 (no) followed by Class 1 (yes) in 3 digits.
        """
        # TODO: Paste your code here
        no, yes = self.df['y'].value_counts()
        return (round(no / self.df.shape[0], 3), round(yes / self.df.shape[0], 3))
    

    def Q4(self): # DO NOT modify this line
        """
        Problem 4:
            Remove duplicate records from the data. What are the shape of the dataset afterward?
        """
        # TODO: Paste your code here
        self.df.drop_duplicates(inplace=True)
        
        return self.df.shape  
        

    def Q5(self): # DO NOT modify this line
        """
        Problem 5:
            5. Replace unknown value with null
            6. Remove features with more than 99% flat values. 
                Hint: There is only one feature should be drop
            7. Split Data
            -	Split the dataset into training and testing sets with a 70:30 ratio.
            -	random_state=0
            -	stratify option
            return the tuple of shapes of X_train and X_test.

        """
        # TODO: Paste your code here
        self.df.drop_duplicates(inplace=True)
        
        flat_cols = self.df.apply(lambda col: col.value_counts(normalize=True).max() >= 0.90)
        self.df.drop(columns=flat_cols[flat_cols].index, inplace=True)

        y = self.df.pop('y')
        X = self.df

        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
        return X_train.shape, X_test.shape

       
    def Q6(self): 
        """
        Problem 6: 
            8. Impute missing
                -	For numeric variables: Impute missing values using the mean.
                -	For categorical variables: Impute missing values using the mode.
                Hint: Use statistics calculated from the training dataset to avoid data leakage.
            9. Categorical Encoder:
                Map the nominal data for the education variable using the following order:
                education_order = {
                    'illiterate': 1,
                    'basic.4y': 2,
                    'basic.6y': 3,
                    'basic.9y': 4,
                    'high.school': 5,
                    'professional.course': 6,
                    'university.degree': 7} 
                Hint: Use One hot encoder or pd.dummy to encode nominal category
            return the shape of X_train.

        """
        # TODO: Paste your code here
        
        pass  
    
    def Q7(self):
        ''' Problem7: Use Logistic Regression as the model with 
            random_state=2025, 
            class_weight='balanced' and 
            max_iter=500. 
            Train the model using all the remaining available variables. 
            What is the macro F1 score of the model on the test data? in 2 digits
        '''
        # TODO: Paste your code here
        
        pass

In [307]:
hw = BankLogistic('bank-st.csv')

# print(hw.Q1())
# print(hw.Q2())
# print(hw.Q3())
# print(hw.Q4())
print(hw.Q5())
# print(hw.Q6())
# print(hw.Q7())

((28802, 19), (12344, 19))

In [320]:
df = pd.read_csv('bank-st.csv', sep=',')
# num_cols = df.select_dtypes(include=['number'])
# obj_cols = df.select_dtypes(include=['object'])
# df.head()

# no_count = df[df['y'] == 'no'].shape[1]
# no, yes = df['y'].value_counts()
# (round(no/df.shape[0], 3), round(yes/df.shape[0], 3))

df.shape

(41158, 21)

In [321]:
df.drop_duplicates(inplace=True)
df.shape

(41146, 21)

In [322]:
flat_cols = df.apply(lambda col: col.value_counts(normalize=True).max() >= 0.90)
df.drop(columns=flat_cols[flat_cols].index, inplace=True)
df.shape
# flat_cols[flat_cols].index

(41146, 20)

In [323]:
y = df.pop('y')
X = df

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.3, random_state=0)
X_train.reset_index(inplace=True)
X_train.drop(columns=["index"], inplace=True)
X_test.reset_index(inplace=True)
X_test.drop(columns=["index"], inplace=True)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(28802, 19) (12344, 19) (28802,) (12344,)

In [324]:
X_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,29,technician,single,professional.course,no,yes,no,cellular,jul,tue,62,3,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1,53,admin.,divorced,basic.9y,no,no,yes,cellular,may,fri,164,1,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
2,46,technician,divorced,professional.course,no,no,no,cellular,aug,wed,308,2,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
3,36,admin.,single,high.school,no,yes,no,cellular,may,thu,235,1,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
4,28,services,single,high.school,no,no,no,telephone,may,thu,32,2,0,nonexistent,-1.8,92.893,-46.2,1.270,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28797,41,blue-collar,divorced,basic.4y,unknown,yes,no,telephone,may,mon,1575,1,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
28798,44,services,married,high.school,no,no,no,cellular,nov,wed,37,1,1,failure,-0.1,93.200,-42.0,4.120,5195.8
28799,33,housemaid,married,basic.9y,no,yes,no,cellular,aug,fri,147,1,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
28800,45,admin.,married,university.degree,no,no,no,cellular,sep,mon,587,1,0,nonexistent,-3.4,92.379,-29.8,0.797,5017.5
28801,53,technician,divorced,university.degree,no,no,no,cellular,jun,wed,705,1,1,failure,-2.9,92.963,-40.8,1.260,5076.2

In [325]:
num_impute = SimpleImputer(missing_values=np.nan, strategy='mean')
num_cols = df.select_dtypes(include=['number'])
X_train[num_cols.columns] = pd.DataFrame(num_impute.fit_transform(X_train[num_cols.columns]))
X_test[num_cols.columns] = pd.DataFrame(num_impute.transform(X_train[num_cols.columns]))

cat_impute = SimpleImputer(missing_values="unknown", strategy='most_frequent')
cat_cols = df.select_dtypes(include=['object'])
X_train[cat_cols.columns] = pd.DataFrame(cat_impute.fit_transform(X_train[cat_cols.columns]))
X_test[cat_cols.columns] = pd.DataFrame(cat_impute.transform(X_test[cat_cols.columns]))

In [326]:
education_order = {
    'illiterate': 1,
    'basic.4y': 2,
    'basic.6y': 3,
    'basic.9y': 4,
    'high.school': 5,
    'professional.course': 6,
    'university.degree': 7
}

X_train['education'] = X_train['education'].map(education_order)
X_test['education'] = X_test['education'].map(education_order)
print(X_train.shape, X_test.shape)

(28802, 19) (12344, 19)

In [327]:
X_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,29.0,technician,single,6,no,yes,no,cellular,jul,tue,62.0,3.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1,53.0,admin.,divorced,4,no,no,yes,cellular,may,fri,164.0,1.0,0.0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
2,46.0,technician,divorced,6,no,no,no,cellular,aug,wed,308.0,2.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
3,36.0,admin.,single,5,no,yes,no,cellular,may,thu,235.0,1.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
4,28.0,services,single,5,no,no,no,telephone,may,thu,32.0,2.0,0.0,nonexistent,-1.8,92.893,-46.2,1.270,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28797,41.0,blue-collar,divorced,2,no,yes,no,telephone,may,mon,1575.0,1.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
28798,44.0,services,married,5,no,no,no,cellular,nov,wed,37.0,1.0,1.0,failure,-0.1,93.200,-42.0,4.120,5195.8
28799,33.0,housemaid,married,4,no,yes,no,cellular,aug,fri,147.0,1.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
28800,45.0,admin.,married,7,no,no,no,cellular,sep,mon,587.0,1.0,0.0,nonexistent,-3.4,92.379,-29.8,0.797,5017.5
28801,53.0,technician,divorced,7,no,no,no,cellular,jun,wed,705.0,1.0,1.0,failure,-2.9,92.963,-40.8,1.260,5076.2

In [328]:
cat_cols

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,admin.,married,unknown,no,no,no,telephone,may,mon,nonexistent
1,technician,married,unknown,no,yes,no,telephone,may,mon,nonexistent
2,blue-collar,married,unknown,no,no,no,telephone,may,mon,nonexistent
3,management,married,basic.4y,unknown,yes,no,telephone,may,mon,nonexistent
4,blue-collar,divorced,basic.4y,no,no,no,telephone,may,mon,nonexistent
...,...,...,...,...,...,...,...,...,...,...
41153,retired,married,professional.course,no,yes,no,cellular,nov,fri,nonexistent
41154,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,nonexistent
41155,retired,married,university.degree,no,yes,no,cellular,nov,fri,nonexistent
41156,technician,married,professional.course,no,no,no,cellular,nov,fri,nonexistent
41157,retired,married,professional.course,no,yes,no,cellular,nov,fri,failure

In [329]:
test = X_train.copy()

cat_cols.drop(columns=["education"], inplace=True)
dummy = pd.get_dummies(test[cat_cols.columns], drop_first=True)
test = pd.concat([test, dummy], axis=1)
test.drop(columns=cat_cols, inplace=True)

test.shape

(28802, 41)

In [330]:
# cat_cols.drop(columns=["education"], inplace=True)
# enc = OneHotEncoder(handle_unknown='ignore', drop='first')
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(X_train[cat_cols.columns]).toarray())
unique_vals = enc.categories_
new_col_names = []
for i, vals in enumerate(unique_vals):
    for j, val in enumerate(vals):
        # if j == 0:
        #     continue
        new_col_names.append(f"{cat_cols.columns[i]}_{val}")

enc_df.columns = new_col_names
X_train = pd.concat([X_train, enc_df], axis=1)
X_train.drop(columns=cat_cols, inplace=True)
X_train.shape

(28802, 50)

In [305]:
unique_vals

[array(['admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management',
        'retired', 'self-employed', 'services', 'student', 'technician',
        'unemployed'], dtype=object),
 array(['divorced', 'married', 'single'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['cellular', 'telephone'], dtype=object),
 array(['apr', 'aug', 'dec', 'jul', 'jun', 'mar', 'may', 'nov', 'oct',
        'sep'], dtype=object),
 array(['fri', 'mon', 'thu', 'tue', 'wed'], dtype=object),
 array(['failure', 'nonexistent', 'success'], dtype=object)]

In [319]:
X_train.columns

Index(['age', 'education', 'duration', 'campaign', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [306]:
X_train.columns

Index(['age', 'education', 'duration', 'campaign', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_divorced',
       'marital_married', 'marital_single', 'default_no', 'default_yes',
       'housing_no', 'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'month_apr', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [102]:
X_train

,index,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,17671,29.0,technician,single,6.0,no,yes,no,cellular,jul,tue,62.0,3.0,0.0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1,35018,53.0,admin.,divorced,4.0,no,no,yes,cellular,may,fri,164.0,1.0,0.0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
2,23309,46.0,technician,divorced,6.0,no,no,no,cellular,aug,wed,308.0,2.0,0.0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
3,34441,36.0,admin.,single,5.0,no,yes,no,cellular,may,thu,235.0,1.0,0.0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
4,36189,28.0,services,single,5.0,no,no,no,telephone,may,thu,32.0,2.0,0.0,nonexistent,-1.8,92.893,-46.2,1.270,5099.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28797,45,41.0,blue-collar,divorced,2.0,unknown,yes,no,telephone,may,mon,1575.0,1.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
28798,25719,44.0,services,married,5.0,no,no,no,cellular,nov,wed,37.0,1.0,1.0,failure,-0.1,93.200,-42.0,4.120,5195.8
28799,19742,33.0,housemaid,married,4.0,no,yes,no,cellular,aug,fri,147.0,1.0,0.0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
28800,37954,45.0,admin.,married,7.0,no,no,no,cellular,sep,mon,587.0,1.0,0.0,nonexistent,-3.4,92.379,-29.8,0.797,5017.5
28801,36451,53.0,technician,divorced,7.0,no,no,no,cellular,jun,wed,705.0,1.0,1.0,failure,-2.9,92.963,-40.8,1.260,5076.2